%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= t('devise.sign_up')
    %a.general-login-icon{href: "#"}
      - if devise_mapping.omniauthable?
        - resource_class.omniauth_providers.each do |provider|
          = link_to omniauth_authorize_path(resource_name, provider) do
            %i.fa.fa-facebook-official.facebook-icon
    %p.general-login-text or
  %div.general-form
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .form-group.mb-30
        %label.control-label.input-label{for: "email"} Enter Email
        = f.email_field :email, autofocus: true, autocomplete: "email", id: 'email', class: 'form-control', placeholder: "Enter Email"
        = resource.errors.messages[:email].to_sentence
      .form-group.mb-30
        %label.control-label.input-label{for: "password"} Password
        = f.password_field :password, autocomplete: "password", id: 'password', class: 'form-control', placeholder: "Password"
        = resource.errors.messages[:password].to_sentence
      .form-group.mb-30
        %label.control-label.input-label{for: "password_confirm"} Confirm Password
        = f.password_field :password_confirmation, autocomplete: "password_confirm", class: 'form-control', placeholder: "Confirm Password"
        = resource.errors.messages[:password_confirmation].to_sentence
      .text-center
      .form-group.checkbox.text-center.mb-30
        %button.btn.btn-default.mb-20
          = f.submit "Sign Up", class: 'btn-submit-login-sign-up'
    %p.general-sign-text.text-center
      = t('devise.do_not_have_account')
      %a.in-gold-500
        = render "devise/shared/link_login"
