%main.container.general-main-wrap
  = render partial: 'checkout/points_steps/types_steps'
  .text-center.mb-40
    %h3.general-subtitle
      = t('checkout.thank_for_order')
    %p.fw-300
      = t('checkout.send_massage_email_in_complete', email: @presenter.current_order.user.email)
  .row.mb-20
    .col-sm-6
      .visible-xs
        %p.general-order-number.mb-0
          = t('checkout.order_number_complete', number: @presenter.current_order.number)
        %p.general-address.mb-30
          = @presenter.current_order.created_at.to_date
      - @presenter.current_order.addresses.shipping.each do |address|
        %p.general-address
          = address.first_name
          = address.last_name
          %br
          = address.address
          %br
          = address.city
          %br
          = address.country
          %br
          = t('checkout.phone_complete', phone: address.phone)
    .col-sm-6.hidden-xs.text-right
      %p.general-order-number.mb-0
        = t('checkout.order_number_complete', number: @presenter.current_order.number)
      %p.general-address.mb-30
        = @presenter.current_order.created_at.to_date
  .visible-xs
    - @presenter.current_order.line_items.each do |item|
      .general-cart-item.divider-lg
        .general-img-wrap-table
          = link_to (image_tag item.book.photo_url(:w210), class: 'cart-img-shadow'), book_path(item.book)
        %p.title
          = item.book.name
        %P.in-grey-600.fw-300
          = item.book.description
        %table.table
          %tr
            %td
              %span.in-grey-600
                = t('checkout.price')
            %td
              %span.font-16.in-gold-500
                = "€#{item.book.price}"
          %tr
            %td.vertical-middle
              %span.in-grey-600
                = t('checkout.quantity')
            %td
              %span
                = item.quantity
          %tr
            %td
              %span.in-grey-600
                = t('checkout.subtotal')
            %td
              %span.font-16.in-gold-500
                = "€#{@cart_presenter.order_summary_price}"
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600
              = t('checkout.book')
          %th.col-method
          %th
            %span.in-grey-600
              = t('checkout.price')
          %th
            %span.in-grey-600
              = t('checkout.quantity')
          %th
            %span.in-grey-600
              = t('checkout.total')
      %tbody
        - @presenter.current_order.line_items.each do |item|
          %tr
            %td
              .general-img-wrap-table
                = link_to (image_tag item.book.photo_url(:w210), class: 'cart-img-shadow pull-left'), book_path(item.book)
            %td
              %p.title
                = item.book.name
              %p.in-grey-600.fw-300
                = item.book.description
            %td
              %span.font-16.in-gold-500
                = "€#{item.book.price}"
            %td
              %span.ml-30
                = item.quantity
            %td
              %span.font-16.in-gold-500
                = "€#{@cart_presenter.order_summary_price}"
  %row
    .text-center.general-text-right.col-sm-12.col-md-12.col-xs-12.confirm-subtotal-price
      = render partial: 'checkout/order_summary/order_price'
  .text-center
    = link_to 'Back to Store', root_path, class: 'btn btn-default mb-20'
