- @books_cart.each do |book|
  .general-cart-item.divider-lg-bottom.mb-30
    %button.close.general-cart-close{type: "button", 'aria-label': "Close"}
      %span{'aria-hidden': "true"} &times;
    .general-img-wrap-table
      = link_to @presenter.show_img_or_default(:w210, book), book_path(book)
    %p.title
      = link_to book.name, book_path(book)
    %table.table
      %tr
        %td
          %span.in-grey-600 Price
        %td
          %span.font-16.in-gold-500
            = "€#{book.price}"
      %tr
        %td.vertical-middle
          %span.in-grey-600 Quantity
        %td
          .input-group
            %a.input-link{href: "#"}
              %i.fa.fa-minus.line-heaght-40
            %input.form-control.quantity-input{type: "text", value: "#{@cart_presenter.count_same_books(book)}"}
            %a.input-link{href: "#"}
              %i.fa.fa-plus.line-heaght-40
      %tr
        %td
          %span.in-grey-600 SubTotal
        %td
          %span.font-16.in-gold-500
            = @cart_presenter.subtotal_prise_book(book)
