.row
  .col-sm-6
    .product-gallery
      .mb-20
        = image_tag(@current_book.photo, class: "img-responsive", alt: "design-book")
        -# = image_tag 'https://www.bramstein.com/static/smashing-book-5-photo-stack.9d5d114e3e.jpg', class: 'img-responsive'
      .images.clearfix
        %a.img-link
          = image_tag(@current_book.photo, class: 'img-responsive', alt: "design-book")
        %a.img-link
          = image_tag(@current_book.photo, class: "img-responsive", alt: "design-book")
        %a.img-link
          = image_tag(@current_book.photo, class: "img-responsive", alt: "design-book")
  .col-sm-6
    %h1.mt-res-0= @current_book.name
    %p.lead.small
      - @current_book.authors.each do |author|
        = author.name
    .row
      = render partial: 'books/form_book'
    .general-info-wrap.divider-lg
      %p Description
      %p.lead.small.line-height-2
        %span#short_text
          = @current_book.description[0..100]
        - if @current_book.description.length > 100
          %span#dots ...
          %span#more_text.d-n
            = @current_book.description[0..@current_book.description.length]
          %a.b-n.in-gold-500.ml-10#btn_read_more Read More
          %a.b-n.in-gold-500.ml-10#hide_read_more.d-n Hide Read More
    .general-info-wrap.divider-lg
      .clearfix
        %p.pull-left Year of publication
        %p.lead.small.pull-right= @current_book.published_year
    .general-info-wrap.divider-lg
      .clearfix
        %p.pull-left Dimensions
        %p.lead.small.pull-right= "H:#{@current_book.heigth}\" x W: #{@current_book.width}\" x D: #{@current_book.depth}"
    .general-info-wrap.divider-lg
      .clearfix
        %p.pull-left Materials
        %p.lead.small.pull-right= @current_book.material
