.mb-80
  %h3 Write a Review
  %p.general-info-text Score
  .mb-15
    %i.fa.fa-star.rate-empty
    %i.fa.fa-star.rate-empty
    %i.fa.fa-star.rate-empty
    %i.fa.fa-star.rate-empty
    %i.fa.fa-star.rate-empty
  .row
    = form_tag comments_path, method: :post do
      = hidden_field_tag current_user.id
      .col-md-8
        .mb-40
          .form-group
            %label.control-label.input-label.in-grey-600{for: "title"} Title
            -# %input#title.form-control{name:"title", type: "text"}
            = text_field_tag "accountName", "", class: 'form-control'
          .form-group
            %label.control-label.input-label.in-grey-600{for: "review"} Review
            = text_area_tag "accountName", "", class: 'form-control'
            -# %textarea#review.form-control{name:"review", type: "text"}
        .text-right
          = submit_tag "Post", class: 'btn mb-20'
          -# %button.btn.disabled.mb-20 Post







.mb-80
  %h3.in-gold-500.mb-25 Reviews (3)
  .general-message-wrap.divider-lg
    .clearfix
      %img.img-circle.logo-size.inlide-block.pull-left{src: "https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg"}
      .ml-70
        %div
          .general-message-date.hidden-xs 11/11/16
          .max-240
            .general-message-verified Verified Reviewer
            .general-message-name Rita J. Lewis
        .mb-15
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
        %p Thank you BookStore, I was very pleased to receive my order for the Moleskine diary so soon after placing the order.
  .general-message-wrap.divider-lg
    .clearfix
      %span.img-circle.logo-size.inlide-block.pull-left.logo-empty M
      .ml-70
        %div
          .general-message-date.hidden-xs 11/11/16
          .max-240
            .general-message-verified.pull-right Verified Reviewer
            .general-message-name May J. Novoa
        .mb-15
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star.rate-empty
        %p If ‘Get a better job’ had landed on my desk a year ago, I might have been dismissive of it. Instead I was prepared to be open-minded. There have been many occasions where I turned to career books with practical activities to look for some inspiration when developing education activities for learners or assessment.




      -# = form_for @comment, url: {action: "create"} do |f|
      -# -# = form_tag new_comment_path, :method => :post do
      -# = f.hidden_field current_user.id
      -# .col-md-8
      -#   .mb-40
      -#     .form-group
      -#       %label.control-label.input-label.in-grey-600{for: "title"} Title
      -#       -# %input#title.form-control{name:"title", type: "text"}
      -#       = f.text_field "accountName", "", class: 'form-control'
      -#     .form-group
      -#       %label.control-label.input-label.in-grey-600{for: "review"} Review
      -#       = f.text_area "accountName", "", class: 'form-control'
      -#       -# %textarea#review.form-control{name:"review", type: "text"}
      -#   .text-right
      -#     = f.submit "Post", class: 'btn mb-20'
      -#     -# %button.btn.disabled.mb-20 Post
