%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= t('devise.log_in')
    %a.general-login-icon{href: "#"}
      - if devise_mapping.omniauthable?
        - resource_class.omniauth_providers.each do |provider|
          = link_to user_facebook_omniauth_authorize_path do
            %i.fa.fa-facebook-official.facebook-icon
    %p.general-login-text or
  %div.general-form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group.mb-30
        %label.control-label.input-label{for: "email"}= t('devise.enter_email')
        = f.email_field :email, autofocus: true, id: 'email', class: 'form-control', placeholder: "Enter Email"
      .form-group.mb-30
        %label.control-label.input-label{for: "password"}= t('devise.enter_password')
        = f.password_field :password, id: 'password', class: 'form-control', placeholder: "Password"
        %a.help-block.in-gold-500
          = render "devise/shared/link_password"
      .form-group.checkbox.text-center.mb-30
        %label.checkbox-label
          %input.checkbox-input{type: "checkbox", hidden: "true"}
          %span.checkbox-icon
            %i.fa.fa-check
          - if devise_mapping.rememberable?
            = f.label :remember_me, class: 'checkbox-text remember-me'
      .text-center
        %button.btn.btn-default.mb-20
          = f.submit "Log in", class: 'btn-submit-login-sign-up'
    %p.general-sign-text.text-center
      = t('devise.do_not_have_account')
      %a.in-gold-500
        = render "devise/shared/links"
