%main.container
  %h1.general-title-margin Сatalog
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
          Newest first
          %i.fa.fa-angle-down.dropdown-icon.pull-right
        %ul.dropdown-menu
          %li
            %a{href: "#"} Newest first
          %li
            %a{href: "#"} Popular first
          %li
            = link_to 'Price: Low to hight', category_path(sort_price: true)
          %li
            = link_to 'Price: Hight to low', category_path(sort_price_desk: true)
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        %div
          - if params[:id] == 'all_books'
            = link_to 'All', category_path('all_books'), class: "filter-link hover_category_color def-color-chosen-category"
          - else
            = link_to 'All', category_path('all_books'), class: "filter-link hover_category_color"
          %span.category-count-books.badge= @books.count
      - @categories.each do |category|
        %li.mr-35
          %div
            - if params[:id].to_i == category.id
              = link_to category.name, category_path(category), class: "filter-link hover_category_color def-color-chosen-category"
            - else
              = link_to category.name, category_path(category), class: "filter-link hover_category_color"
            %span.category-count-books.badge= @books.where(category_id: category.id).count
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10 Filter by category
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        Newest first
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        %li
          %a{href: "#"} Newest first
        %li
          %a{href: "#"} Popular first
        %li
          %a{href: "#"} Price: Low to hight
        %li
          %a{href: "#"} Price: Hight to low
    %p.lead.small.mb-10 Sort by
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        Newest first
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        %li
          %a{href: "#"} Newest first
        %li
          %a{href: "#"} Popular first
        %li
          %a{href: "#"} Price: Low to hight
        %li
          %a{href: "#"} Price: Hight to low
  .mb-120
    .row
      - @books_category.each do |book|
        .col-xs-6.col-sm-3
          .general-thumb-wrap
            .thumbnail.general-thumbnail
              = image_tag(book.photo, class: "img-shadow general-thumbnail-img", alt: "design-book")
              .thumb-hover
                .general-thumb-link-wrap
                  = link_to book_path(book), class: 'thumb-hover-link' do
                    %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                  %a.thumb-hover-link{href: "#"}
                    %i.fa.fa-shopping-cart.thumb-icon
          .general-thumb-info
            %p.title= book.name
            %p.font-16.in-gold-500= book.price
            %span.divider-sm
            %p.lead.small Bass Jobsen, David Cochran, Ian Whitley
    .text-center
      %button.btn.btn-primary View More
