%main.container
  %h1.general-title-margin= t('categories.title_catalog')
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        = render partial: 'categories/dropdown_sort_filters'
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        %div
          = @presenter.btn_all_books
          %span.category-count-books.badge= @books.count
      - @categories.each do |category|
        %li.mr-35
          %div
            = @presenter.btn_categories(category)
            %span.category-count-books.badge= @presenter.count_books_category(category)
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10= t('categories.filter_by_category')
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        = @presenter.show_current_category
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        %li
          = @presenter.btn_all_books_phone_expansion
        - @categories.each do |category|
          %li
            = @presenter.btn_categories_phone_expansion(category)
    %p.lead.small.mb-10= t('categories.sort_by')
    .dropdown
      = render partial: 'categories/dropdown_sort_filters'
  .mb-120
    .row
      = render partial: 'categories/show_books_by_category'
  .row.text-center.mb-25.pagination-btns
    = pagy_nav_bootstrap(@pagy).html_safe
