%main.container
  %h1.general-title-margin Сatalog
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        = render partial: 'categories/dropdown_sort_filters'
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        %div
          - if params[:id] == 'all_books'
            = link_to 'All', category_path('all_books'), class: "filter-link hover_category_color def-color-chosen-category"
          - else
            = link_to 'All', category_path('all_books'), class: "filter-link hover_category_color"
          %span.category-count-books.badge= @books.count
      - @categories.each do |category|
        %li.mr-35
          %div
            - if params[:id].to_i == category.id
              = link_to category.name, category_path(category), class: "filter-link hover_category_color def-color-chosen-category"
            - else
              = link_to category.name, category_path(category), class: "filter-link hover_category_color"
            %span.category-count-books.badge= @books.where(category_id: category.id).count
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10 Filter by category
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        Newest first
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        %li
          %a{href: "#"} Newest first
        %li
          %a{href: "#"} Popular first
        %li
          %a{href: "#"} Price: Low to hight
        %li
          %a{href: "#"} Price: Hight to low
    %p.lead.small.mb-10 Sort by
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        Newest first
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        %li
          %a{href: "#"} Newest first
        %li
          %a{href: "#"} Popular first
        %li
          %a{href: "#"} Price: Low to hight
        %li
          %a{href: "#"} Price: Hight to low
  .mb-120
    .row
      = render partial: 'categories/show_books_by_category'
  .row.text-center.mb-25.pagination-btns
    = pagy_nav_bootstrap(@pagy).html_safe
