.mb-80
  %h3.in-gold-500.mb-25
    = t('book_page.comment.reviews')
  - @comment_presenter.all_comments.each do |comment|
    - if comment.is_verified
      .general-message-wrap.divider-lg
        .clearfix
          %span.img-circle.logo-size.inlide-block.pull-left.logo-empty
            = comment.user.email.first
          .ml-70
            %div
              .general-message-date.hidden-xs
                = comment.created_at.to_date
              .max-300
                .general-message-verified
                  = @comment_presenter.is_verified?(comment)
                .general-message-name
                  = comment.user.email
            .mb-15
              - CommentPresenter::COUNT_STARS.times do |star|
                %i.fa.fa-star{class: @comment_presenter.check_star(star, comment)}
            %h4
              = comment.title
            %p
              = comment.text_comment
